@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

:root {
  --goy: #3A68B8;
  --ag: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#08101e, #020a18);
  font-family: Open Sans, sans-serif;
}
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 11px;
}
header.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .logo img {
  width: 30px;
}
.header .logo h2 {
  color: var(--goy);
  font-size: 19px;
}

.header .nav-links {
  display: flex;
  justify-content: space-around;
  flex-basis: 45%;
}
.header .nav-links a {
  text-decoration: none;
  color: var(--ag);
}
.nav-links a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background-color: var(--goy);
  transition: all .5s cubic-bezier(.33, .67, .78, .32);
  transition-delay: .1s;
}
.nav-links a:hover::after {
  width: 100%;
}
.header .nav-links {
  display: none;
}
.header .btn-Sign {
  background-color: var(--goy);
  color: var(--ag);
  padding: 13px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: 0;
  cursor: pointer;
}
.header .btn-Sign:hover {
  transform: scale(1.1);
}
.header .btn-Sign {
  display: none;
}
.header .fa-bars {
  font-size: 22px;
  color: var(--ag);
  cursor: pointer;
}
/* content starts */
.content {
  padding: 50px 5px;
}
.content .left h3 {
  color: var(--goy);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
.content .left h1 {
  color: var(--ag);
  font-size: 35px;
  text-align: center;
}
.content .left p {
  text-align: center;
  color: var(--ag);
  font-size: 16px;
  opacity: .5;
  padding-top: 20px;
}
.content .left .buttons {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.content .left .buttons button {
  padding: 15px 30px;
  background-color: var(--goy);
  color: var(--ag);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .3);
}
.buttons button span {
  margin-left: 4px;
}
.content .right {
  padding-top: 30px;
  width: 310px;
  margin: 0 auto;
}
.content .right img {
  width: 100%;
}

/* logos */
.logos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 20px 0 30px 0;
}

.logos img {
  width: 150px;
}

/* info starts */

.info .left-side {
  width: 310px;
  margin: 0 auto;
  padding: 30px 5px;
}

.info .left-side img {
  width: 100%;
}
.info .right-side {
  padding: 20px 5px;
}

.info .right-side h3 {
  color: var(--ag);
  font-size: 23px;
  text-align: center;
}

.info .right-side p {
  text-align: center;
  color: var(--ag);
  font-size: 16px;
  opacity: .5;
  padding-top: 20px;
}

.info .right-side .buttons {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
}

.info .right-side .buttons button {
  padding: 15px 30px;
  background-color: var(--goy);
  color: var(--ag);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, .3);
  font-size: 18px;
}
/* section starts */

section.section {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
  padding: 20px 5px;
  gap: 10px;
}
section.section .sectionView {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #0e1623;
  padding: 20px 15px;
  border-radius: 10px;
}
.section .sectionView .pic {
  width: 60px;
}
.sectionView .pic img {
  width: 100%;
}
.section .sectionView h4 {
  font-size: 18px;
  color: var(--ag);
  text-align: center;
}
.section .sectionView p {
  font-size: 14px;
  color: var(--ag);
  text-align: center;
  opacity: .5;
}
/* article starts */
article.article {
  padding: 20px 5px;
}
.article .client h3 {
  color: var(--ag);
  font-size: 18px;
  text-align: center;
}
.article p {
  text-align: center;
  color: var(--ag);
  font-size: 16px;
  opacity: .5;
  padding-top: 20px;
}
.article .phone-img {
  padding-top: 30px;
  width: 310px;
  margin: 0 auto;
}
.article .phone-img img {
  width: 100%;
}

/* footer starts */
footer.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(284px,1fr));
  gap: 15px;
  /* padding: 30px 5px; */
}

.footer .f-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.footer .f-info h5 {
  color: var(--goy);
  font-size: 20px;
  padding: 10px 0 20px 0;
}
.footer .f-info p {
  text-align: center;
  color: var(--ag);
  opacity: .4;
  padding-bottom: 20px;
}
.footer .f-info h4 {
  color: var(--ag);
  font-size: 17px;
  padding-bottom: 20px;
  
}
.footer .f-info a {
  color: var(--ag);
  font-size: 15px;
  opacity: .4;
  padding-bottom: 10px;
  text-decoration: none;
}
.footer .f-info .i {
  opacity: 5;
  font-size: 15px;
}

.footer .f-info .select-lang {
  display: flex;
  align-items: center;
  gap: 7px; 
  color: var(--ag);
  padding: 20px 0;
  font-size: 15px;
}
.select-lang select {
  border: 0;
  background-color: transparent;
  color: var(--ag);
  font-size: 15px;
}
.select-lang select option {
  color: #000;
}
.footer .f-info:last-child img {
  padding: 15px 0;
}
@media (min-width:576px) and (max-width:991px) {

  header.header {
    padding: 15px 15px;
  }

  .header .logo img {
    width: 45px;
  }

  .header .logo h2 {
    font-size: 24px;
  }

  .header .nav-links {
    display: flex;
    gap: 5px;
    flex-basis: 50%;
    margin-right: 12px;
  }

  .nav-links a {
    font-size: 20px;
  }

  .header .fa-bars {
    font-size: 30px;
  }

  /* content starts */
  .content {
    padding: 70px 15px;
  }

  .content .left h3 {
    font-size: 30px;
  }

  .content .left h1 {
    font-size: 60px;
  }

  .content .left p {
    font-size: 25px;
  }

  .content .left .buttons {
    gap: 10px;
  }

  .content .left .buttons button {
    padding: 20px 40px;
    font-size: 23px;
  }

  .content .right {
    padding-top: 30px;
    width: 540px;
  }

  /* logos */
  .logos {
    flex-direction: row;
    justify-content: space-around;
    gap: 18px;
  }

  .logos img:nth-child(4) {
    display: none;
  }

  .logos img {
    width: 190px;
  }

  /* info starts */
  .info .left-side {
    width: 540px;
    margin: 0 auto;
    padding: 30px 5px;
  }

  .info .right-side h3 {
    font-size: 43px;
  }

  .info .right-side p {
    font-size: 24px;
    padding-top: 20px;
  }

  .info .right-side .buttons {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .info .right-side .buttons button {
    padding: 20px 40px;
    font-size: 23px;
  }
  /* section starts */
section.section {
  grid-template-columns: repeat(2,306px);
  justify-content: center;
}
section.section .sectionView {
  padding: 30px 25px;
}
.section .sectionView .pic {
  width: 90px;
}
.section .sectionView h4 {
  font-size: 23px;
}
.section .sectionView p {
  font-size: 18px;
}
/* article starts */
.article .client h3 {
  font-size: 27px;
}
.article .client p {
  font-size: 22px;
}
.article .phone-img {
  width: 540px;
}

/* footer starts */
footer.footer {
  grid-template-columns: auto;
  gap: 25px;
  padding: 40px 5px;
}
.footer .f-info:first-child img {
  width:80px;
}
.footer .f-info h5 {
  font-size: 40px;
  padding: 15px 0 30px 0;
}
.footer .f-info p {
  padding-bottom: 35px;
  font-size: 21px;
}
.footer .f-info h4 {
  font-size: 24px;
  padding-bottom: 30px;
}
.footer .f-info a {
  font-size: 22px;
}
.footer .f-info .i {
  font-size: 22px;
}
.footer .f-info .select-lang {
font-size: 22px;
}
.select-lang select {
  font-size: 22px;
}
.footer .f-info:last-child img {
  width: 230px;
}
}
@media (min-width:576px) and (max-width:639px) {
  section.section {
    grid-template-columns: repeat(2,260px);
    justify-content: center;
  }

}
@media (min-width:992px) {
  .fa-bars {
    display: none;
  }

  header.header {
    padding: 15px 20px;
  }

  .header .logo img {
    width: 45px;
  }

  .header .btn-Sign {
    display: flex;
  }

  .header .nav-links {
    display: flex;
    flex-basis: 35%;
  }

  .header .logo h2 {
    font-size: 25px;
  }

  /* content starts */
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }

  .content .left h3 {
    font-size: 20px;
    text-align: left;
  }

  .content .left h1 {
    font-size: 55px;
    text-align: left;
  }

  .content .left p {
    text-align: left;
    font-size: 20px;
    width: 80%;
  }

  .content .left .buttons {
    justify-content: flex-start;
  }

  .content .right {
    padding-top: 60px;
    width: 910px;
  }

  /* logos */
  .logos {
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 20px 30px 20px;
  }

  .logos img {
    width: 200px;
  }

  /* info starts */
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
  }
  .info .left-side {
    width: 610px;
  }
  .info .right-side {
    flex: 1;
  }
  .info .right-side h3 {
    font-size: 35px;
    text-align: left;
  }

  .info .right-side p {
    text-align: left;
    font-size: 18px;
    width: 80%;
  }
  .info .right-side .buttons {
    justify-content: flex-start;
  }
   /* article starts */
  article.article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  article.article .client h3 {
    font-size: 35px;
    text-align: left;
  }
   article.article .client p {
    text-align: justify;
    font-size: 20px;
    width: 80%;
  }

  article.article .phone-img {
    padding-top: 60px;
    width: 910px;
  }

/* footer starts */
footer.footer {
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 5px;
  padding: 50px 5px 30px 5px;
}
.footer .f-info:first-child img {
  width: 40px;
}
.footer .f-info p {
  font-size: 14px;
}
.footer .f-info h4 {
  padding-bottom: 40px;
}
.footer .f-info a {
  font-size: 12px;
  padding-bottom: 23px;
}
.footer .f-info .i {
  font-size: 12px;
}

.footer .f-info .select-lang {
  font-size: 12px;
}
.select-lang select {
  font-size: 12px;
}

}